@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    line-height: 1.5;
  
}

table{
    width: 100%;
}

td, th{
    padding-bottom: 40px;
    text-align: center;
    justify-content: flex-start;
    
}

.logo_area{
    padding: 0;
    margin: 0;
    text-align: left;
    padding-left: 100px;
}

.nav_area{
    padding: 0;
    margin: 0;
    text-align: right;
    padding-right: 100px
}

.nav_links{
    text-decoration: none;
    color: black;
    margin: 5px;
}

.nav_links:hover{
    text-decoration: underline;
}
.principal_area{
    padding: 0;
    margin: 0;
    height: 150px ;
}
.principal_img{
   width: 100%;
   height: 450px;
}
.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding-bottom: 40px;
    width: 100%;
    
    
}
.assunto{
    text-align: justify;
    font-size: 15px;
    padding: 20px;
    border-radius: 20px;
    padding-top:100px;
    padding-bottom: 100px;
    width: 100%;
  
    
}

.direitos{
    margin-top: 10px;
    font-size: 14px;
}

.img_quemsomos{
    width: 500px;
    border-radius: 4px;
    padding-left: 10px;
}
.assunto_quemsomos{
    padding: 0;
    line-height: 1.5;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form{
  
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 20px;
  padding: 50px;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 500px;
  max-width: 600px;
}

.input-contato{
  padding: 15px;
  margin: 10px;
  width: 100%;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
}

strong{
  font-size: 30px;
  margin: 0;
}

button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    width: 40%;
}
button[type="submit"]:hover {
    background-color: #0056b3;
}
.hospedagem-area{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  height: 50px;
  font-size: 11px;
  gap: 10px;
  padding: 10px;
}
.input-area{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.ida-volta{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px
}

.input-hospedagem{
  padding: 14px;
  border: 1px solid #808080;
  color: #808080;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
.input-hospedagem-ida{
  padding: 15px;
  border: 1px solid #808080;
  color: #808080;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: left;
}
.button-quartos{
  padding: 10px;
  background-color: white;
  border: 1px solid #808080;
  color: #808080;
  border-radius: 5px;
  height: 51px;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  font-size: 16px;
  
}
.ponto{
  color: white;
}

.title{
  margin-left: 10px;
}
.button-buscar{
  padding: 10px;
  border: 1px solid  #2B818E;
  border-radius: 15px;
  height: 28px;
  background-color: #2B818E;
  color: white;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  text-decoration: none;
  font-size: 16px;
}
section{
  margin-left: 70px;
  margin-right: 70px;
  padding: 40px;
  align-items: center;
}

label{
  font-weight: bold;
  font-size: 13px;
}
.button-buscar:hover{
  background-color: #1f5860;
  border: 1px solid #1f5860;
  cursor: pointer;
  transform: scale(1.02);
  transition: all 0.2s ease-in;
  border-radius: 20px;
}
.button-quartos:hover{
  color: #1f5860;
  cursor: pointer;
  font-weight: bold;
}



.u-text-placeholder {
  background-color: #a2a8b1;
  display: inline-block;
  height: 9px;
}

.l-cards {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 300px);
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  justify-items: center;
  padding: 30px;
}

.c-card {
  background-color: #ced4da;
  border-radius: .6rem;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 300px;
  
  &__image {
    align-items: center;
    background-color: #b5b9c1;
    border-top-left-radius: .6rem;
    border-top-right-radius: .6rem;
    display: flex;
    flex: 5;
    justify-content: center;
    overflow: hidden;
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    padding: 15px;
  }
}
.card {
  margin-top: 30px;
  background-color: #fff;
  width: 300px;
  height: 400px;
  border-radius: 12px;
  box-shadow: 4px 4px 12px #404040aa;
  font-family: 'Montserrat', sans-serif;
}
.card img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.card div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: 50%;
}
.card h1 {
  font-size: 1.2rem;
}
.card h2 {
  font-size: .9rem;
  color: #aaaa;
}
.card button {
  background-color: #F8AA00;
  height: 30px;
  border: none;
  padding: 4px;
  width: 80%;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
}
.card button:hover {
  background-color: #ffffff;
  cursor: pointer;
  color: #F8AA00;
  border: 2px solid #F8AA00;
  transform: scale(1.01);
  transition: all 0.2s ease-in;
}
.card-area{
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.title-pacote{
  font-size: 30px;
  margin: 30px;
  font-weight: bold;
  color: white;
}
.contato-area{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #7b3d3d;
}

.valor-card{
  color: #1f5860;
  font-weight: bold;
  font-size: 20px;
  
}

.pacotes-area{
  background-color: #1f5860;
  
}

.pacotes-content{
  padding-top: 100px;
  padding-bottom: 100px;
}

.content-quemsomos{
  text-align: justify;
  padding: 40px;
}

.form-area{
  align-items: center;
  justify-content: center;
}

.contato-content{
  margin-left: 70px;
  margin-right: 70px;
  padding: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.area-formulario-pacotes{
  box-shadow: 2px 1px 30px -17px rgba(33,33,33,1);
  border-radius: 20px;
}
.botao-opcoes{
  background-color: #F8AA00;
  height: 40px;
  border: none;
  padding: 4px;
  width: 400px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 40px;
}
.botao-opcoes:hover {
  background-color: #1f5860;
  cursor: pointer;
  color: #F8AA00;
  border: 2px solid #F8AA00;
  transform: scale(1.01);
  transition: all 0.2s ease-in;
}

.image-contato{
  width: 100%;
}
