table{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10pt;
  text-align: center;
  padding: 4px;
  border: 1px solid black;
  border-collapse: collapse;
}
th, td{
  border: 1px solid black;
  padding: 5px;
}
.cabecalho{
  background-color: #dd7383;
}
.impar:hover{
  background-color: #7a93b3;
}
.par:hover{
  background-color: #8cd48c;
}
.total:hover{
  background-color: #644f4f;
  color: white;
}

#menu{
  background-color: gray;
  padding: 20px;
}
#conteudo{
  background-color: #CECE7B;
  padding: 20px;
}
#rodape{
  background-color: rgb(206, 141, 123);
  width: 100%;
  height: 30px;
  text-align: center;
  position: absolute;
  bottom: 0;
}
span{
  font-weight: bold;
  font-style: italic;
}

#tabela{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
table{
  width: 50%;
}