body{
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 200px;
    background-color: rgb(40, 94, 82);
    text-align: center;
    padding-top: 20px;
}

header{
    background-color: white;
    padding-top: 20px;
    padding-left: 80px;
    padding-bottom: 20px;
    padding-right: 80px;
    border-radius: 20px;
    
}

h1{

    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    display: flex;
    justify-content: center;

}

h3{
    margin-top: 70px;
    display: flex;
    justify-content: center;

}
p{
    text-align: justify;
    margin-bottom: 80px;
}

*img{
   display: block;
   align-items: center;
   justify-content: center;
   margin-bottom: 80px;
}
ul{
    text-align: left;
    margin-bottom: 80px;
    
}